.gl-ed-con {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 900px;
    margin: 0 auto;
}

.gl-ed-con h1{
    color: #000000; 
    text-align: center;
    font-family: Poppins;
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2.12px;
}

.gl-ed-con h1 span {
    background : #005B1A ;
    color: #ffffff;
    padding: 0 15px;
    border-radius: 30px;
}

.gl-ed-con p {
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
}

.gl-ed-con h4 {
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
}

