.gl-ed-con {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 900px;
    margin: 0 auto;
}

.gl-ed-con h1{
    color: #000000; 
    text-align: center;
    font-family: Poppins;
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2.12px;
}

.gl-ed-con h1 span {
    background : #005B1A ;
    color: #ffffff;
    padding: 0 15px;
    border-radius: 30px;
}

.gl-ed-con p {
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
}

.gl-ed-con h4 {
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
}

.gl-ed-con-rd-m {
    display: flex;
    align-items: center;
    border-radius: 41.5px;
    border: 1px solid #000;
    background: rgba(217, 217, 217, 0.40);
    padding: 5px 25px;
}

.gl-ed-con-rd-m p {
    color: #000;
    font-family: Poppins;
    font-size: 25.286px;
    font-style: normal;
    font-weight: 500;
    line-height: 59px;
    display: inline;
    margin:  0 7px 0 0;
}

.gl-ed-con-rd-m img {
    margin: 0 0 0 7px;
}
