.l-p-bl{
    width: calc(100vw - 100px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;

}

.l-p-bl-con {
    display: flex;
    align-items: center;
    gap: 20px
}

.l-p-bl button {
    color : #ffffff;
    background: #004AAD;
    font-size: 32px;
    border-radius: 30px;
    border : none;
    padding: 10px 30px;
}