

.footer-up-section {
    width: calc(100vw - 200px);
    margin: 5rem auto;
    display: flex;
    justify-content: space-between;
}

.footer-heading h1 {
    margin-top: 0;
    color: #040505;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.footer-heading h3 {
    color: #040505;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer-navlinks-up {
    color: var(--Soulstone-blue, #004AAD);
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.footer-navlinks-down {
    color: #040505;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer-navigation, .footer-get-the-app {
    display: flex;
    flex-direction: column;
}

.footer-down-section {
    background: #005B1A;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-down-section p {
    color: #FFF;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding : 5px 25px;
}

.icons-arrange{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    border-radius: 100px;
    border: 1px solid rgba(4, 5, 5, 0.32);
    width: fit-content;
}

.i-m--ar {
    margin: 0 0 2px 0
}

.i-m--as {
    margin: 2px 0 0 0
}

.footer-social-icons {
    display: flex;         /* Use flexbox for layout */
    justify-content: flex-end; /* Align items to the right */
    padding: 10px;         /* Add some padding if needed */
}

.footer-social-icons-span {
    position: relative;
    right: 0;
    padding: 5px 8px;      /* Space around the icons */
}