
.wh-ch-us-con{
    
}

.wh-ch-us-up {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wh-ch-us-ins {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img-ins-sp--in {
    display: flex;
    padding: 15px 0;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.img-ins-sp--in-green {
    color:  #005B1A;
}

.img-ins-sp--in-blue {
    color:  #004AAD;
}