.abt-ln-con-main-wrap{
    height: calc(100vh - 100px);
    
}
.abt-ln-con-main {
    max-width: 800px;
    
    margin: 0 auto;
}

.abt-ln-con-main h1{
    color: grey;
    font-family: Poppins;
    font-size: 54px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%; /* 59.4px */
}

.abt-ln-con-main p {
    color: var(--bg, grey);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 28px */
}

.abt-ln-con-sub-btns{
    display: flex;
    gap: 25px;
}

.abt-ln-con-sub-btn {
    font-size: 20px;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
}

.abt-ln-con-sub-btn1{
    background: #000000;
    color: #ffffff;
}

.abt-ln-con-sub-btn1{
    color: #000000;
    background: #ffffff;
}
