.fs-mn-c {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }
  
  .fs-mn-ins {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .fs-mn-ins-bx-mn {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns */
    gap: 20px;
    width: 50%;
  }
  
  .fs-mn-ins-bx {
    border: 2px solid transparent; /* Default border */
    padding: 20px;
    text-align: center;
    transition: border 0.3s ease;
    cursor: pointer;
  }
  
  .fs-mn-ins-bx.active {
    border: 2px solid #004AAD; /* Active border color */
  }
  
  .fs-mn-ins-img {
    width: 50%;
    text-align: center;
  }
  
  .fs-mn-ins-img img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  

  @media screen and (max-width: 768px){
    .fs-mn-ins {
        flex-direction: column-reverse;
    }
    .fs-mn-ins-bx-mn {
        width: 100%;
    }
  }